@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-image: linear-gradient(90deg, #6604D6, #B06AB3);
    background-size: cover;
}
.header-nav {
    background-image: linear-gradient(90deg, #6604D6, #B06AB3);
    background-size: cover;
    height:100%;
    width: 100%;
}

.webwizlogo {
    width: 100%;
    height: 100%;
    margin-left: 20%;
    padding-top: 80px;
}

.nav{
    width: 100%;
    padding: 0px;
    position: fixed;
    top: 0px;
    transition: 0.5s;
    text-align: center;
    z-index: 2;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:15px;
    font-size: 24px;
    cursor: pointer;  
}

ul li a .icon{
    width: 60px;
    height: 60px;
    text-align: center;
    background:rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
ul li a .icon .nav-svg{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: .5s;
    fill:#660066;
    text-align: center;
}



ul li a .icon:hover{
    background: #660066;
}

ul li a .icon .nav-svg:last-child{
    transform: translateY(110%);
    fill:white;
}

ul li a .icon:hover .nav-svg:last-child{
    transform: translateY(-112%);
    fill:white;
}


.count-container{
    width: 100%;
    position: absolute;
    top:35%;
    left: 0%;
    transform: translate(-50% -50%);
    text-align: center;
    color:white;
}

.count-container section{
    height: 20vh;
    background: #0000;
}
.count-container h1{
    font-size: 5em;
    margin: 0px;
    padding: 0;
    position: relative;
    top: 59%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #22003D;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
   
}
.count-container h1 span{
    opacity: 0;
    display: inline-block;
    animation:animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
    }
}
.count-container h2{
    margin-bottom: 77px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
}

.counter{
    margin: 30px 0;
}

.counterd{
    display: inline-block;
    min-width: 80px;
    min-height: 80px;
    margin: 0 30px;
    font-size: 22px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.counterd span{
    display: block;
    font-size: 37px;
    margin-top: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}


